.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 220px;
  margin: 15px;
  text-align: center;
  font-family: arial;
}

.card img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card h1 {
  max-height: 28px;
  font-size: 15px;
}

.card button {
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #FFAA4C;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  background-color: #c66b02;
}

.preco {
  color: grey;
  font-size: 18px;
  padding: 8px;
}

.descricao {
  font-family: Arial Narrow, sans-serif;
  padding-top: 2px;
  padding-bottom: 8px;
}

div:not(.cabeçalho-menu-item)>a img:last-child {
  display: none;
}

div:not(.cabeçalho-menu-item)>a:hover img:last-child {
  display: block;
}

div:not(.cabeçalho-menu-item)>a:hover img:first-child {
  display: none;
}