.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 210px;
  margin: 15px;
  text-align: center;
  font-family: arial;
}

.card img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card h1 {
  max-height: 28px;
  font-size: 15px;
  margin: 8px;
}

.card button {
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #1062c6;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  background-color: #025ac6;
}

.preco {
  color: grey;
  font-size: 18px;
  padding: 8px;
}

.descricao {
  font-family: Arial Narrow, sans-serif;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 8px;
}

div:not(.cabeçalho-menu-item)>a img:last-child {
  display: none;
}

div:not(.cabeçalho-menu-item)>a:hover img:last-child {
  display: block;
}

div:not(.cabeçalho-menu-item)>a:hover img:first-child {
  display: none;
}

@media screen and (max-width: 900px) {
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 165px;
    margin: 5px;
  }

  .card img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .card h1 {
    max-height: 28px;
    font-size: 15px;
  }

  .preco {
    font-size: 15px;
  }

  .descricao {
    font-size: 13px;
  }

  .card button {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100px;
    margin: 0px;
  }

  .card img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .card h1 {
    max-height: 28px;
    font-size: 13px;
  }

  .preco {
    font-size: 15px;
    padding: 10px;
  }

  .descricao {
    font-size: 12px;
  }

  .card button {
    font-size: 9.5px;
  }
}