* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.conteudo {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  padding: 130px 200px 20px 200px;
}

.conteudo a {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  padding: 30px;
}

.conteudo h1 {
  text-align: center;
  color: yellow;
  font-family: 'Star Jedi', arial;
  font-size: 30px;
  text-shadow: 4px 4px 4px #0083fd;
  letter-spacing: 2.4px;
}

#hide-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  padding: 20px;
}

#link-card {
  text-align: center;
  padding-top: 90px;
}

#link-card a {
  color: white;
}

#link-card a:hover {
  -webkit-text-stroke: 1px white;
}

.conteudo h1:hover {
  -webkit-text-stroke: 1px black;
}

.imageBox {
  position: relative;
  float: left;
}

.imageBox .hover-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.imageBox:hover .hover-img {
  opacity: 1;
}

.imageBox:hover .top-img {
  opacity: 0;
}

.menu-expansivo {
  background: yellow;
  overflow: hidden;
  color: #000;
  line-height: auto;
  transition: all 1s ease-in-out;
  height: 0;
}

.menu-expansivo:target {
  height: 1250px;
}

/* código dos cards */
.card-container {
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(43, 43, 43, 0.75);
  color: #cbd2eb;
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 50%;
  text-align: center;
}

.card-container h3 {
  margin: 10px 0;
}

.card-container h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

.card-container p {
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 8px;
}

.card-container .pro {
  color: #231E39;
  background-color: #FEBB0B;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.card-container .round {
  border: 1px solid #03BFCB;
  border-radius: 50%;
  padding: 7px;
}

button.primary {
  background-color: #03BFCB;
  border: 1px solid #025ac6;
  border-radius: 3px;
  color: #231E39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 10px;
}

button.primary.ghost {
  background-color: transparent;
  color: #02899C;
}

.skills {
  background-color: #141124;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2D2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}

#maps {
  background-color: #000;
  box-shadow: 0px 10px 20px -10px rgba(24, 24, 24, 0.75);
  margin: 50px;
  margin-right: 215px;
  margin-top: 50px;
  border-radius: 12px;
  float: right;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  padding: 40px;
}

#detalhes {
  position: relative;
  float: left;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
  padding: 120px;
}

#descricao {
  border: #fff solid;
  background-color: #141124;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  margin-top: 150px;
  padding: 5px 150px;
}

.rodape-info {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 0px 20px 20px 20px;
  position: relative;
  color: white;
}

footer {
  background-color: #000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

@media screen and (max-width: 900px) {}